@font-face {
    font-family: 'Instrument Sans';
    src: url("/assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf");
    font-display: swap;
}

body {
    font-family: 'Instrument Sans';
    background: rgb(228, 228, 228);
    background-image: radial-gradient(rgb(201, 201, 201) 1px, transparent 0);
    background-size: 10px 10px;
    background-position: -19px -19px;
    margin: 0;
}

#frames {
    height:100%;
    width:100%;
    left:0%;
    position:absolute;
    display: flex;
    gap: 0px;
    flex-direction: row;
}

#logs_frame {
    width: 20%;
}

#chat_frame {
    border: solid rgb(160, 160, 160) 2px;
    border-top:none;
    border-bottom:none;
    margin: 0px 5px;
    scrollbar-color: white transparent;
    
    display:flex;
    flex-direction:column;
    gap: 0px;
    width: 60%;
    height: 100%;
    overflow-x:none;
}

#chat_input_field {
    width: 60%;
    white-space: pre;
    position: relative;
    resize: none;
    margin: 0;
    border: 0;
    stroke: none;
    height: 0px;
    text-align: start;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    overflow:visible;
}

#chat_input_field:focus {
    outline: none;
}

#chat_input_field::placeholder {
    font-style: "Instrument Sans";
    color: #a1a1a1;
}

.chat__input__background {
    position: relative;
    display: flex;
    align-items: end;
    background-color: white;
    height: fit-content;
    padding: 10px 0px;
    border-radius: 5px;
    border: solid 1px #a1a1a1;
    margin-left: 20px;
    /* bottom: 0px; */
    width: 100%;
    overflow:visible;
}

.form__frame {
    margin: 0;
    width:100%;
    height:10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat__form {
    height:35px;
    width: 100%;
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: center;
}

.chat__form__button {
    height: 100%;
}

@keyframes img_full_view_background {
  from {opacity: 0;}
  to {opacity:1}
  
}

#image__full_view__frame {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    cursor:zoom-out;
    animation-name: img_full_view_background;
    animation-iteration-count: 1;
    animation-duration: 0.25s;
}

@keyframes img_full_view_scale {
  from {scale: 0.9; opacity: 0;}
  to {scale: 1; opacity:1}
  
}

.image__full_view {
    position: relative;
    width: 18vw;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    cursor:zoom-out;
    animation-name: img_full_view_scale;
    animation-iteration-count: 1;
    animation-duration: 0.25s;
}

.chat__msg_list {
    padding-left: 0px;
    padding-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: none;
    width: 100%;
    gap: 0px;
    height: 90%;
}

.chat__msg__frame {
    position: relative;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    white-space: pre;
    transition: background-color 0.25s;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.chat__msg__frame:hover {
    background-color: rgba(0,0,0,0.1);
    transition: background-color 0.25s;
}

.chat__msg__author {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
}

.chat__msg__content {
    font-size: 0.8em;
    gap: 5px;
    line-height: 1.5em;
    overflow-wrap: break-word;
    width: calc(100% - 5px);
    height: auto;
    /* letter-spacing: 0.5px; */
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.chat__msg__images {
    display: flex;
    gap: 0px;
    width: 580px;
    display: none;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 220px;
    margin-left: 5px;
    padding-bottom: 5px;

    scrollbar-width: thin;
    scrollbar-color:white transparent;
}

.chat__msg__image__frame {
    height: 200px;
    width: 200px;
    padding: 3px;
    /* display: flex; */
    /* align-items: center; */
}

.chat__msg__image__frame:hover > img {
    box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
    transition: box-shadow 0.25s, filter 0.25s;
    filter: grayscale(50%) brightness(70%)
}

.chat__msg__image__frame:hover .chat__msg__image__button {
    opacity: 1;
    transition: opacity 0.2s;
}

.chat__msg__image {
    border-radius: 9px;
    padding: 3px;
    height: 100%;
    width: 100%;
    position: relative;
    top: -10%;
    left: -10%;
    align-self: center;
    transition: box-shadow 0.25s, filter 0.25s;
    object-fit: cover;
    cursor: pointer;
    z-index: 2;
}

.chat__msg__image__button {
    opacity: 0;
    position:relative;
    align-self: center;
    height: 27px;
    width: 27px;
    top:-110%;
    left:-6%;
    z-index: 2;
    transition: opacity 0.2s;
}

.chat__msg__files {
    display: none;
    height: fit-content;
    width: 220px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
    gap: 5px;
}

.chat__msg__file__frame {
    min-width: 200px;
    width: max-content;
    height: 30px;
    background-color: #d9dbff;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 5px 5px;
    padding-right: 10px;
    border: #5355ff solid 2px;
    color: #5355ff;
    border-radius: 5px;
    transition: filter 0.2s;

}

.chat__msg__file__frame:hover {
    filter: brightness(90%);
    transition: filter 0.2s;
}

.chat__msg__file__icon {
    scale: 1;
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
}

.chat__msg__file__file_name {
    font-size: 0.75em;
    justify-content: center;
    align-items: center;
    width: max-content;
}